{% extends "base.html" %}

{% block content %}
<h1>О нашем заводе</h1>
<section>
    <h2>История завода</h2>
    <p>Наш завод был основан в 1995 году с целью производства высококачественных подшипников. Мы гордимся тем, что за годы работы приобрели безупречную репутацию среди наших партнеров и клиентов.</p>
    <p>АО «Степногорский подшипниковый завод» — производственное предприятие в городе Степногорске Акмолинской области республики Казахстан. Ранее называлось Государственный подшипниковый завод № 16 (ГПЗ-16). Специализируется на выпуске роликовых радиальных подшипников для железнодорожного транспорта.</p>
    <img src="{{ url_for('static', filename='images/factory_history.jpg') }}" alt="История завода">
    <p>Объём товарной продукции за 2009 год составил 7,1 млрд. тенге. В 2010 году предприятие увеличило выпуск подшипников на 6%.</p>
</section>

<section>
    <h2>Миссия и ценности</h2>
    <p>Миссия нашего завода — обеспечение надежности и долговечности продукции для наших клиентов. Мы придерживаемся высоких стандартов качества и ориентируемся на долгосрочные отношения с партнерами.</p>
</section>
{% endblock %}
