{% extends "base.html" %}

{% block content %}
<h1>О нашем заводе</h1>
<section>
    <h2>История завода</h2>
    <p>Наш завод был основан в 1995 году с целью производства высококачественных подшипников. Мы гордимся тем, что за годы работы приобрели безупречную репутацию среди наших партнеров и клиентов.</p>
    <img src="{{ url_for('static', filename='images/factory_history.jpg') }}" alt="История завода">
</section>

<section>
    <h2>Миссия и ценности</h2>
    <p>Миссия нашего завода — обеспечение надежности и долговечности продукции для наших клиентов. Мы придерживаемся высоких стандартов качества и ориентируемся на долгосрочные отношения с партнерами.</p>
</section>
{% endblock %}
