{% extends "base.html" %}

{% block content %}
<h1>О нашем заводе</h1>

<section>
    <h2>История завода</h2>
    <p>Наш завод был основан в 1995 году с целью производства высококачественных подшипников. Мы гордимся тем, что за годы работы приобрели безупречную репутацию среди наших партнеров и клиентов.</p>
    <p>АО «Степногорский подшипниковый завод» — производственное предприятие в городе Степногорске Акмолинской области республики Казахстан. Ранее называлось Государственный подшипниковый завод № 16 (ГПЗ-16). Специализируется на выпуске роликовых радиальных подшипников для железнодорожного транспорта.</p>
    <img src="{{ url_for('static', filename='images/factory_history.jpg') }}" alt="История завода">
    <p>Объём товарной продукции за 2009 год составил 7,1 млрд. тенге. В 2010 году предприятие увеличило выпуск подшипников на 6%.</p>
</section>

<section>
    <h2>Миссия и ценности</h2>
    <h3>Миссия</h3>
    <p>Миссия Степногорского подшипникового завода заключается в обеспечении высококачественного производства подшипников, которые способствуют эффективной и безопасной работе промышленных предприятий в Казахстане и за рубежом. Завод ориентирован на постоянное совершенствование своих технологий, повышение качества продукции и внедрение инноваций, чтобы соответствовать мировым стандартам и требованиям клиентов.</p>

    <h3>Ценности</h3>
    <ul>
        <li><strong>Качество и надежность:</strong> Завод стремится производить подшипники, которые отвечают самым строгим стандартам качества. Это позволяет обеспечивать надежную эксплуатацию продукции на различных предприятиях и в самых сложных условиях.</li>
        <li><strong>Инновации:</strong> Ориентированность на инновации и технологическое совершенствование является одной из ключевых ценностей завода. Степногорский подшипниковый завод активно внедряет современные методы производства и использует передовые технологии, что позволяет улучшать продукцию и повышать производственные мощности.</li>
        <li><strong>Экологическая ответственность:</strong> Завод придерживается принципов устойчивого производства, внедряя технологии, минимизирующие воздействие на окружающую среду, и соблюдая экологические стандарты.</li>
        <li><strong>Социальная ответственность:</strong> Завод уделяет большое внимание социальной ответственности, участвуя в жизни региона, поддерживая социальные инициативы, создавая рабочие места и улучшая условия труда своих сотрудников.</li>
        <li><strong>Партнерство и доверие:</strong> Степногорский подшипниковый завод ориентируется на долгосрочные отношения с клиентами, партнерами и поставщиками, обеспечивая взаимное доверие и удовлетворение потребностей всех заинтересованных сторон.</li>
        <li><strong>Командная работа и профессионализм:</strong> Завод ценит своих сотрудников, их профессиональные качества и командный дух. Постоянное повышение квалификации, обучение и развитие сотрудников — важная часть философии предприятия.</li>
    </ul>

    <p>Эти миссия и ценности определяют стратегию развития завода и помогают достигать высоких результатов в производственной и социальной деятельности.</p>
</section>
{% endblock %}

