{% extends "base.html" %}

{% block content %}
<h1>Наши партнеры</h1>
<section>
    <h2>Ключевые партнеры</h2>
    <ul>
        <li>Компания 1 — поставка высококачественного сырья</li>
        <li>Компания 2 — экспорт продукции</li>
        <li>Компания 3 — разработка инновационных технологий</li>
    </ul>
</section>

<section>
    <h2>Наши партнеры по миру</h2>
    <p>Наши партнеры находятся не только в Казахстане, но и за рубежом, что позволяет нам обеспечивать глобальную доступность нашей продукции.</p>
</section>
{% endblock %}
